---
import FormattedDate from '../components/FormattedDate.astro';
import Tags from "../components/Tags.astro";
const { post } = Astro.props;
---

<div class="bg-dark-gray p-4 rounded text-xl">
    <b><a class="text-lime text-2xl underline" href={`/blog/${post.slug}/`}>{post.data.title}</a></b>
    <FormattedDate date={post.data.pubDate} />
    <p class="p-card">{post.data.description}</p>
    <Tags tags={post.data.tags} />
</div>