---
import FormattedDate from '../components/FormattedDate.astro';
import Tags from "../components/Tags.astro";
const { post } = Astro.props;
---

<div>
    <b><a class="title" href={`/blog/${post.slug}/`}>{post.data.title}</a></b>
    <FormattedDate date={post.data.pubDate} />
    <p class="p-card">{post.data.description}</p>
    <Tags tags={post.data.tags} />
</div>